form(hx-get='http://localhost:3000/api/movies/findMovie', hx-trigger='submit', hx-target='#main-component', hx-swap='innerHTML', hx-on::before-request='sanitizeAll()')
  div.flex.flex-col.gap-7
    input#Id(type='hidden', title='Id', name='Id')
    label(for='Title') Title
    input#Title(type='text', title='Title', name='Title', required)
    label(for='Year') Year
    input#Year(type='number', title='Year', name='Year')
    button.button(type='submit') Search

script(src='/static/sanitize.js')